# Brew
Brewfile.lock.json

# Kitty
kitty.conf.bak
kitty.conf.swp

# vscode
/vscode/.config/Code/*
# don't ignore User dir
!/vscode/.config/Code/User
# ignore dirs in User dir
/vscode/.config/Code/User/*/

#qBittorrent
qbittorrent/.config/qBittorrent/rss/

# Etc
*.patch
tme@*
